
/* App.css */
h1, h2, h3, h4, h5 {
  font-family: 'Capriola', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: clamp(35px, 5vw + 1rem, 65px);
}

h2 {
  font-size: clamp(24px, 5vw, 52px);
}

h3 {
  font-size: clamp(20px, 4vw, 41px);
}

h4 {
  font-size: clamp(16px, 3vw, 33px);
}

/* För brödtext */
p, span, body {
  font-family: 'Capriola', sans-serif;
  font-weight: 400;
}


