.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #DBDFE7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #DBDFE7;
}
/* App.css */
h1, h2, h3 {
  font-family: 'Dancing Script', cursive; /* Fanky font for headers */
}

body, p {
  font-family: 'Roboto', sans-serif; /* Regular font for body text */
  line-height: 1.6; /* Öka radavståndet för bättre läsbarhet */
  color: #000000; /* Färg för text */
}
