/* Ensure default color and hover */
.header .nav-link-custom {
  color: white; /* Default to white */
  transition: color 0.2s ease;
  font-weight: normal; /* Remove bold styling */
  margin-right: 25px; /* Space between each link */
}

.nav-link-custom:hover {
  color: #E46698; /* Hover color */
}

/* Apply black color when scrolled */
.header.scrolled .nav-link-custom,
.alt-header .nav-link-custom {
  color: black;
}
.header.scrolled .nav-link-custom:hover,
.alt-header .nav-link-custom:hover {
  color: #E46698;
}

/* Header background and transition for scrolling */
.header {
  background-color: transparent;
  transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
              box-shadow 0.4s ease, 
              transform 0.4s ease; /* Transition for hiding */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header.scrolled {
  background-color: #f8f9fa;
}

.header.hidden {
  transform: translateY(-100%); /* Move the header off-screen when hidden */
}

/* Additional styling for other elements remains the same */


.alt-header {
  background-color: #f8f9fa; /* For alternate pages */
}

/* Icon links */
.icon-links {
  display: flex;
  gap: 10px; /* Space between icons */
}

.icon {
  font-size: 20px;
  color: #E46698;
}

/* Ensuring links and icons are aligned and spaced */
.nav-links {
  display: flex;
  align-items: center;
  gap: 10px;

}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1050; 
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.menu-icons {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px; /* Sätter 20px mellan ikonerna */
}


.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Håller länkarna högst upp */
  height: 100vh; /* Sätter höjden till hela viewporten */
  padding-top: 20px; /* Justerar avståndet från toppen */
  box-sizing: border-box; /* Säkerställer att padding inte påverkar höjden */
}

.menu-links .nav-link {
  color: #000000;
  font-size: 16px;
  margin-bottom: 30px;
  text-decoration: none;
}

.menu-links .nav-link:hover {
  color: #E46698;
}





  