/* Default styles for the header */
.header {
  background-color: transparent;
  transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* Background and color when scrolled */
.header.scrolled {
  background-color: white;
}

/* Nav links on the hero page */
.nav-link-custom {
  color: white;
  transition: color 0.3s ease;
}

/* Change color to black when scrolled on hero page */
.scrolled-link {
  color: black;
}

/* Alternate header for non-hero pages */
.alt-header {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Alternate links on non-hero pages */
.alt-link {
  color: black;
}

.alt-link:hover {
  color: #E46698;
}

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1050; 
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.menu-icons {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px; /* Sätter 20px mellan ikonerna */
}


.menu-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Håller länkarna högst upp */
  height: 100vh; /* Sätter höjden till hela viewporten */
  padding-top: 20px; /* Justerar avståndet från toppen */
  box-sizing: border-box; /* Säkerställer att padding inte påverkar höjden */
}

.menu-links .nav-link {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: none;
}

.menu-links .nav-link:hover {
  color: #FF1493;
}





  