/* Allmänt stil för kroppen */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Standard font för text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Specifika stilar för rubriker */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand', cursive; /* Rubriker får Patrick Hand font */
}

